#page-room{
    transition: color 0.5s, background 0.5s;
    
    header{
        padding:24px;
        border-bottom: 1px solid #e2e2e2;

        .content{
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content:space-between;
            align-items:center;

            >span{
                display: none;
                font-size:24px;
                color:#ea4335;
               margin-right: 8px;
            }
            >div:first-child{
                display: flex;
                gap:16px;
                align-items: center;
                div{
                    transform: translateY(-5px)
                }
            }
            >div img{//logo image
                max-height: 45px;
                cursor: pointer;
            }

            .themeSwitch{
                
                display: flex;
                justify-content: space-between;
                align-items: center;
                height:45px;
                overflow: hidden;
                width:80px;
                border-radius:20px;
                border: 2px solid #e2e2e2;
                position: relative;
                
                cursor: pointer;
                #sun{
                    
                    transform: translateX(0px);
                    transition: transform 0.5s;
                    &.dark{
                       transform: translateX(200px);
                   }
                }
                #moon{
                    

                   path{ stroke: #f8f8f8;
                   }
                   transform: translateX(-200px);
                   transition: transform 0.5s;

                   &.dark{
                    transform: translateX(0px);
                   }
                }
            }

            >div:last-child{//room code and end room
                display: flex;
                align-items:center;
                gap:16px;
                button{
                    height:40px;
                }
            }
        }
        #menuBar{
            display: none;
        }

        
    }

    main{
        max-width: 800px;
        margin: 0 auto;

        .room-title{
            margin:32px 0 24px;
            display: flex;
            align-items: center;

            h1{
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                color: #29292e;
            }

            span{
                margin-left: 16px;
                background-color: #e559f9;
                border-radius: 100px;
                padding:8px 16px;
                color: #fff;
                font-weight: 500;
                font-size: 14px;
            }
        }

        form{
            textarea{
                width:100%;
                border:0;
                padding: 16px;
                border-radius:8px;
                background: #fefefe;
                box-shadow: 0 2px 12px rgba(0,0,0,0.04);
                resize: vertical;
                min-height: 130px;
            }

            .form-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;

                .user-info{
                    display: flex;
                    align-items: center;

                    img{
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }

                    span{
                        margin-left: 8px;
                        color: #29292e;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }

                >span{
                    font-size: 14px;
                    color: #737380;
                    font-weight: 500;
                
                    button{
                        background: transparent;
                        border: 0;
                        color: #835afd;
                        text-decoration: underline;
                        font-size: 14px;
                        font-weight:500;
                        cursor:pointer;
                    }
                }

            }

        }

        .question-list{
            margin-top: 32px;
        }
    }

    &.dark{
        background-color:  #0d1117;
        min-height: 100vh;
        header{
            border-bottom: 1px solid #656565;

        .content >svg path{
        stroke: #f8f8f8;
        }

            
        }
        main{
            max-width: 800px;
            margin: 0 auto;
    
            .room-title{
                h1{
                    color: #f8f8f8;
                }
                span{
                    background-color: #835afd;
                }
            }
            
            form .form-footer .user-info span{
                            color: #f8f8f8;
                        }
        }
    }


    @media (max-width: 1024px){
        header{
            padding-right: 2%;
                padding-left: 2%;
            .content{
                max-width: 900px;
                
            }
        }
        main{
            max-width:900px;
            padding: 0 2%;
        }
    }

    @media(max-width:768px){
        header{
            position: relative;
           
            .content >div:last-child{
                
                flex-direction: column;
                position:absolute;
                top: 94px;
                left:0;
                width: 100%;
                background-color:#f8f8f8;
                padding-top:16px;
                padding-bottom: 16px;
                transform:translateY(-300px);
                transition: transform 0.5s;

                &.dark{
                background-color:#0d1117;

                }

            }
            #menuBar{
                display: block;
            }
        }
    }
    @media (max-width:420px){
        main .room-title{
            flex-direction:column;

            h1{
                margin-bottom: 8px;
            }
        }
    }
}