#page-auth{
    display:flex;
    align-items:stretch;
    height: 100vh;

    aside{
        flex:7;

        background-color:#835afd;
        color:#fff;

        display:flex;
        flex-direction:column;
        justify-content:center;

        padding:120px 80px;

        img{
            max-width: 320px;
        }
        strong{
            font:700 36px 'Poppins', sans-serif;
            line-height:42px;
            margin-top: 16px;
        }
        p{
            font-size: 24px;
            line-height:32px;
            color: #f8f8f8;
        }
    }

    main{
        flex:8;
        padding:0 32px;

        display:flex;
        align-items:center;
        justify-content:center;
        
    }
    .main-content{
            display:flex;
            flex-direction: column;
            width:100%;
            max-width: 320px;
            align-items: stretch;
            text-align:center;

            >img {
                align-self: center;
            }
            h2{
                font-size: 24px;
                margin: 64px 0 24px;
                font-family: 'Poppins', sans-serif;
            }
            form{
                input{
                    height: 50px;
                    border-radius: 8px;
                    padding:0 16px;
                    background-color:#FFFFFF;
                    border:1px solid #a8a8b3;
                }
                button{
                    margin-top:16px ;

                }
                button, input{
                    width:100%;
                }
            }
            p{
                font-size: 14px;
                color: #747480;
                margin-top: 16px;
                
                a{
                    color: #e559f9; 
                }
            }
    }
    .create-room{
        margin-top: 64px;
        height:50px;
        border-radius: 8px;
        font-weight: 500;
        background-color:#ea4335;
        color:#fff;

        display: flex;
        justify-content:center;
        align-items:center;
        cursor:pointer;
        border:0;

        transition: filter 0.2s;

        img{
            margin-right: 8px;
        }
        &:hover{
            filter:brightness(0.9);
        }
    }
    .separator{
        font-size: 14px;
        color: #a8a8b3;

        margin: 32px 0;
        display: flex;
        align-items: center;

        &::before{
           content:'';
            flex: 1;
            height:1px;
            background:#a8a8b3;
            margin-left: 16px;
        }
        &::after{ 
           content:'';
           flex: 1;
           height:1px;
           background:#a8a8b3;
           margin-right: 16px;
        }
    }

    &.dark{
        aside{
           background-color: #2e186f;
        }
        main{
            background-color: #0d1117;
            color: #f8f8f8;

            .main-content p{
                color: #f8f8f8;
            }

        }
    }
    
    @media (max-width:768px){
        flex-direction: column;
        justify-content:center;
        align-items:center;
        overflow:auto;

        aside{
            justify-content: center;
            align-items: center;
            padding:30px 20px !important;
            flex:1;
            img{
                max-width: 280px;
            }
        }
        main{
            margin: 32px 0;
            flex:1;
            
        }
    }
}

.themeSwitch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:45px;
    overflow: hidden;
    width:80px;
    border-radius:20px;
    border: 2px solid #e2e2e2;
    
    position: absolute;
    right:2%;
    top:8px;
    
    cursor: pointer;
    #sun{
        transform: translateX(0px);
        transition: transform 0.5s;
        &.dark{
           transform: translateX(200px);
       }
    }
    #moon{

       path{ stroke: #f8f8f8;
       }
       transform: translateX(-200px);
       transition: transform 0.5s;

       &.dark{
        transform: translateX(0px);
       }
    }
}
